@model Test.Model.Category
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
    @using (Html.BeginForm("Edit", "Category", FormMethod.Post))
    {

        <label>ID：</label>
            @Model.Id
            @Html.HiddenFor(c => c.Id)
            
            <label>Category Name：</label>
            @Html.TextBoxFor(c => c.CateName, new { @Value=Model.CateName })
            @*@Html.DropDownListFor(c => c.CateName,
                    new SelectList(Enum.GetValues(typeof(Test.Model.Category))),
                    "Select Category", new { @required = "required" })*@

            @*@Html.TextBoxFor(c => c.CateName)*@
            
            <label>Parent Category：</label>
            @Html.TextBoxFor(c => c.ParentId, new { @required = "required" })
            
            <input type="submit" value="Edit" />
    }
    </div>
</body>
</html>
